/*
color: #C50022; rackerRed 
color: #DBFCFF; mario sky blue
color: #5D94FB; mario blue
color: #127C22; mario green
color: #FFBAAA; mario pink
color: #CC4B09; mario orange
color: #57412F; mario brown
*/

.jumbotron{
	text-align: center;
	margin: 0;
}

.jumbotron h1 {
	text-transform: uppercase;
	font-size: 5em;
}

#intro .jumbotron,
#location .jumbotron{
	background-color: #c50022; /* racker red */
	color: #fff;
}

#intro .row{
	text-align: left;
}

.logo,
.purchase,
.main_title{
	text-align: right;
}

.btn-orange{
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#f0ad4e),to(#ec971f));
	background-image: -webkit-linear-gradient(top,#f0ad4e,0%,#ec971f,100%);
	background-image: -moz-linear-gradient(top,#f0ad4e 0,#ec971f 100%);
	background-image: linear-gradient(to bottom,#f0ad4e 0,#ec971f 100%);
	background-repeat: repeat-x;
	border-color: #eb9316;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e',endColorstr='#ffec971f',GradientType=0);
	color: #000;
}

#signupbtn {
	   cursor: inherit;
}


.conf_name{
	font-family: 'Open Sans', sans-serif;
}

.theme_name{
	font-family: 'Lobster', cursive;
	font-size: 3em;
}

#speakers .jumbotron {
	background-color: #fff;
	color: #5D94FB; /* mario blue */
}
#speakerimgs{
	padding: 0em;
	white-space: nowrap;
	overflow: scroll;
	text-align: center;
}


#speakerimgs .img-wrap {
	display: inline-block;
	position: relative;
	width: 310px;
	height: 310px;
	border-radius: 50em;
	-webkit-border-radius: 50em;
	border: 10px solid #ececec;
}

#proposalApplication .container {
	text-align: left;
	padding-top: 50px;
}

#schedule .jumbotron{
	background-color: #5D94FB; /* mario blue */
	color: #fff;
}
#scheduletext .schedulespacer {
	      height: 1em;
}
#scheduletext h2 {
	      text-align: right;
	      padding-right: 1em;
	      min-width: 10em;
}
#scheduletext p {
	      text-align: left;
	      line-height: 1.2em;
	      font-size: .9em;
}

#schedule table {
	      margin-left: 2em;
}

#schedule .schedule-time {
//	      text-align: right;
	      padding-right: 2em;
}

#tickets .jumbotron{
	color: #57412F; /* mario green */
	background: #fff url('http://images.cdn.rackspace.com/home/river_bg.png');
}
#tickets img{
	width: 10em;
	text-align: center;
}

#ticket_faq{
	text-align: left;
}

#contact .jumbotron {
	background-color: #57412F;
	color: #fff; 
}
#contact a{
	color: #fff;
}
#contact img{
	width: 10em;
}

.alert-info{
	background-color: #5D94FB;
	color: #fff;
}

.nav{
	text-transform: uppercase;
}

.navbar-inverse{
	background-color: #C50022; 
	border-color: #C50022;
}
.navbar-inverse .navbar-brand {
	color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: #999;
}


#map-canvas {
	width:100%;
    height:500px;
}

.google-map-canvas,
.google-map-canvas * { .box-sizing(content-box); }

/* Optional responsive image override */
img { max-width: none; }

.glyphicon{
	font-size: 10em;
}

#mario .jumbotron {
	margin: auto;
	height: 662px;
	width: 100%;
}
#mario .jumbotron iframe{
	width:100%;
	height: 100%;
}
#raxiois p {
	 font-size: .8em;
	 color: #fff;
	 /*background: #DBFCFF;*/
	 padding: .2em 1em;
	 -webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
	 border-radius: 3px;
}
#raxiois p {
	position: relative;
	color: #000;
	background: #f0ad4e;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f0ad4e), to(#f0ad4e));
	background: -moz-linear-gradient(#f0ad4e, #f0ad4e);
	background: -o-linear-gradient(#f0ad4e, #f0ad4e);
	background: linear-gradient(#f0ad4e, #f0ad4e);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 25%;
	padding: 1em;
	margin: 1em;
}
#raxiois1, #raxiois3 {
	padding: 1em;
  	padding-left: 10em;
  	float: left;
}
#raxiois2 {
	padding: 1em;
	padding-right: 12em;
  	text-align: left;
  	float: left;
}

#raxiois1:before,
#raxiois3:before {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 60px;
	border: 0;
	border-right-width: 30px;
	border-bottom-width: 20px;
	border-style: solid;
	border-color: transparent #f0ad4e;
	display: block;
	width: 0;
}

#raxiois2:before {
	content: "";
	position: absolute;
	top: -20px;
	right: 60px;
	border: 0;
	border-left-width: 30px;
	border-top-width: 20px;
	border-style: solid;
	border-color: transparent #f0ad4e;
	display: block;
	width: 0;
}


#schedule ul.tabs {
	text-align: center;
	width: 100%;
}
#schedule ul.tabs li {
	display: inline;
	list-style-type: none;
	padding: 0;
	margin: 0;

}

#schedule .item{
	padding: 3em 5em;
	text-align: left;
}
#schedule .item{
	display: none;
}
#schedule .active{
	display: block;
}



