.jumbotron{
	background-color: #272d37;
	text-align: center;
	color: #ccc;
	margin: 0;
}

.jumbotron h1 {
	text-transform: uppercase;
	font-size: 5em;
}

.light{
	background-color: #ccc;
	color: #333;
}

.white{
	background-color: #fff;
	color: #333;
}

.nav{
	text-transform: uppercase;
}

.btn-primary {
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#f0ad4e),to(#ec971f));
	background-image: -webkit-linear-gradient(top,#f0ad4e,0%,#ec971f,100%);
	background-image: -moz-linear-gradient(top,#f0ad4e 0,#ec971f 100%);
	background-image: linear-gradient(to bottom,#f0ad4e 0,#ec971f 100%);
	background-repeat: repeat-x;
	border-color: #eb9316;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e',endColorstr='#ffec971f',GradientType=0);
}

#map-canvas {
	width:100%;
    height:500px;
}

.google-map-canvas,
.google-map-canvas * { .box-sizing(content-box); }

/* Optional responsive image override */
img { max-width: none; }

.glyphicon{
	font-size: 10em;
}